{{ 'grid.css' | asset_url | stylesheet_tag }}
<script src="{{ 'grid.js' | asset_url }}" defer></script>
<section class="gift-guide-grid">
  <h2 class="grid-heading">{{ section.settings.grid_heading }}</h2>

  <div class="products-grid">
    {% for block in section.blocks %}
      {% assign product = block.settings.product %}

      {% if product %}
        <div 
        class="grid-item"
          data-product="{{ product | json | escape }}"
          {{ block.shopify_attributes }}>
          <img 
            src="{{ product.featured_image | image_url: width: 600 }}"
            alt="{{ product.title | escape }}"
            class="grid-item__image"
            loading="lazy"
          />
          <button
            type="button"
            class="grid-item__plus-btn"
            id="BtnCard"
            aria-label="View {{ product.title | escape }} details"
            style="left: {{block.settings.marker_x}}%; top: {{block.settings.marker_y}}%;"
          >
            +
          </button>
        </div>
      {% endif %}
    {% endfor %}
    <div  id="product">
      <div id="cardProduct">
        <div class="content_product">
          <div class="img_content_product"></div>
          <div class="details_content_product">
            <div class="title_details_content_product"></div>
            <div class="salary_details_content_product"></div>
            <div class="desc_details_content_product"></div>
          </div>

        </div>
        <div class="detailsProduct">
          <div class="color_detailsProduct"></div>
          <div class="size_detailsProduct"></div>
          <button class="btnCart">Add to cart <img src="{{ 'arrowButton.png' | asset_url }}" alt="Arrow"> </button>
        </div>
      </div>
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Gift Guide Grid",
  "settings": [
    {
      "type": "text",
      "id": "grid_heading",
      "label": "Section heading",
      "default": "Tisso vison in the wild"
    }
  ],
  "blocks": [
    {
      "type": "product_card",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "range",
          "id":"marker_x",
          "label": "Marker horizontal position (%)",
          "min": 0,
          "max": 100,
          "step": 1,
          "default":50
        },
        {
          "type": "range",
          "id": "marker_y",
          "label": "Marker horizontal position (%)",
          "min": 0,
          "max": 100,
          "step": 1,
          "default":50
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Gift Guide Grid",
      "blocks": [
        { "type": "product_card" },
        { "type": "product_card" },
        { "type": "product_card" },
        { "type": "product_card" },
        { "type": "product_card" },
        { "type": "product_card" }
      ]
    }
  ]
}
{% endschema %}
